%nav.nbs-sidebar.nbs-sidebar-menu-collapsed
  %a#justify-icon{href:"#"}
    %span.glyphicon.glyphicon-align-justify

  %ul.nbs-level1
    %li.active
      %a.expandable{href:"#", title:"Dashboard"}
        %span.glyphicon.glyphicon-home.collapsed-element
        %span.expanded-element Dashboard

      %ul.nbs-level2
        %li
          %a{href:"#", title:"Traffic"} Traffic

        %li
          %a{href:"#", title:"Conversion rate"} Conversion rate

        %li
          %a{href:"#", title:"Purchases"} Purchases

    %li
      %a.expandable{href:"#", title:"APIs"}
        %span.glyphicon.glyphicon-wrench.collapsed-element
        %span.expanded-element APIs

    %li
      %a.expandable{href:"#", title:"Settings"}
        %span.glyphicon.glyphicon-cog.collapsed-element
        %span.expanded-element Settings

    %li
      %a.expandable{href:"#", title:"Account"}
        %span.glyphicon.glyphicon-user.collapsed-element
        %span.expanded-element Account

  %a#logout-icon{href:"#", title:"Logout"}
    %span.glyphicon.glyphicon-off

