%html
  %head
    %title Template for Stasis projects

    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>

    %link{rel: "stylesheet", type: "text/css", href: "stylesheets/bootstrap.css"}
    %link{rel: "stylesheet", type: "text/css", href: "stylesheets/main.css"}

    %script{language: "javascript", src: "javascripts/jquery-1.10.2.min.js"}
    %script{language: "javascript", src: "javascripts/application.js"}

  %body
    = yield