body {
  background: none repeat scroll 0 0 white; }

nav.nbs-sidebar-menu-collapsed {
  width: 44px; }
nav.nbs-sidebar-menu-expanded {
  width: auto; }
nav.nbs-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #0099ff;
  color: white;
  padding: 20px 10px; }
  nav.nbs-sidebar a#justify-icon {
    outline: 0;
    color: white;
    font-size: 24px;
    font-style: normal; }
  nav.nbs-sidebar a#logout-icon {
    outline: 0;
    color: white;
    font-size: 24px;
    font-style: normal;
    position: absolute;
    bottom: 10px;
    left: 10px; }
  nav.nbs-sidebar ul.nbs-level1 {
    margin: 0;
    padding: 0;
    margin-top: 60px; }
    nav.nbs-sidebar ul.nbs-level1 li {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      list-style-type: none; }
      nav.nbs-sidebar ul.nbs-level1 li a.expandable {
        outline: 0;
        display: block;
        position: relative;
        width: 100%;
        height: 30px;
        color: white;
        text-decoration: none;
        text-align: left;
        padding: 4px 4px 4px 0px;
        font-size: 20px; }
        nav.nbs-sidebar ul.nbs-level1 li a.expandable:hover {
          color: #bbbbbb; }
        nav.nbs-sidebar ul.nbs-level1 li a.expandable span.expanded-element {
          display: none;
          font-size: 11px;
          position: relative;
          bottom: 5px; }
      nav.nbs-sidebar ul.nbs-level1 li.active {
        margin-left: -4px; }
        nav.nbs-sidebar ul.nbs-level1 li.active a.expandable {
          background: none repeat scroll 0 0 black;
          border-radius: 4px;
          color: white !important;
          width: 30px;
          padding: 4px; }
          nav.nbs-sidebar ul.nbs-level1 li.active a.expandable:hover {
            color: white !important; }
    nav.nbs-sidebar ul.nbs-level1 ul.nbs-level2 {
      margin: 20px 6px 20px 30px;
      padding: 0;
      display: none; }
      nav.nbs-sidebar ul.nbs-level1 ul.nbs-level2 li {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        padding-bottom: 10px;
        list-style-type: none;
        border-bottom: solid white 1px; }
        nav.nbs-sidebar ul.nbs-level1 ul.nbs-level2 li:last-child {
          border-bottom: none; }
        nav.nbs-sidebar ul.nbs-level1 ul.nbs-level2 li a {
          text-decoration: none;
          outline: 0;
          color: white;
          text-decoration: none;
          font-size: 11px; }
